@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho:wght@400;500;600;700;800&display=swap');


* {
  box-sizing: border-box;
  --header-background: #f0f0f0;
  --poem-background: rgba(255, 255, 255, 0.9);
  --text-color: #333;
    margin: 0;
  padding: 0;
}
body{

  font-family: Shippori Mincho, sans-serif;
  font-size: 1rem;
  writing-mode: vertical-rl;
  background-image: url('./assets/bg.jpeg');
  background-size: fill;
  background-position: center;
  color: var(--text-color);
  line-height: 2;
}

header {
  background-color: var(--header-background);
  padding: 2rem 1rem;
  margin-left: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.poem-container {
  background-color: var(--poem-background);
  /* margin: 2rem; */
  padding: 3rem;
  text-align: left;
}

.poem-container p{
  margin: 0 3rem;
}