@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho:wght@400;500;600;700;800&display=swap');


* {
  box-sizing: border-box;
  --header-background: #f0f0f0;
  --poem-background: rgba(255, 255, 255, 0.9);
  --text-color: #333;
  --focus-indicator: 0 0 0 0.125rem #F6F6F6, 0 0 0 0.25rem #238CEC;
  margin: 0;
  padding: 0;

}

html {
  background-image: url('./assets/bg.jpeg');
  background-size: fill;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100%;
  /* position:; */
  top: 0;
  left: 0;
  z-index: -1;
}


body,
html {

  font-family: Shippori Mincho, serif;
  font-size: 1.1rem;
  writing-mode: vertical-rl;

  color: var(--text-color);
  line-height: 2;
  /* overflow: hidden; */

}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

a {
  color: var(--text-color);
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

a:focus {
  box-shadow: var(--focus-indicator);
  /* outline: none; */
  /* color: red; */

}

dd {
  margin-top: 3rem;
}

h1 {
  font-size: 2rem;
  font-weight: 600;
  margin: 0 2rem;
}

header {
  background-color: var(--header-background);
  padding: 3rem 1rem;
  margin: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--text-color);
  text-decoration: none;
}

.title:hover {
  color: black;
}



.poem-container {
  background-color: var(--poem-background);
  /* margin: 2rem; */
  padding: 3rem;
  margin: 2rem;
  /* overflow-x: scroll; */
  /* -webkit-overflow-scrolling: touch; */

  text-align: left;
}

.poem-container p {
  margin: 0 4rem;
}

@media (max-height: 600px) {

  body, html{
    font-size: 1rem;
  }
  header{
    padding: 2rem 1rem;
    margin: 1rem;
  }
  .poem-container  {
    margin: 1rem;
    padding: 2rem 1rem;
  }
}